<header class="w-full h-16 bg-white mb-6 shadow-md motion-preset-slide-down-md flex justify-between fixed top-0 z-50">
    <div class="flex justify-center w-full items-center">

        <Tree [tree]="treeDef" [treeNodeView]="treeNodeTemplate" [closeEventEmmiter]="closeEventEmmiter">
            <ng-template #treeNodeTemplate let-node>
                <TreeNode (click)="node.action(); closeEventEmmiter.next()" className="w-60">
                        {{ node.name }}
                </TreeNode>
            </ng-template>
        </Tree>
    </div>

    <div class="flex min-w-32 justify-start items-center">
        <span>Avatar</span>
    </div>
</header>

<main class="px-4 flex mt-20">
    <router-outlet/>
</main>