<Modal>
    <section header>
        <h1 class="text-2xl text-slate-800 font-semibold">Member Info</h1>
    </section>

    <section body class="flex flex-col">
        <div class="flex gap-2">
            <span>Nome: </span>
            <span>{{ member.name }}</span>
        </div>
        <div class="flex gap-2">
            <span>Email: </span>
            <span>{{ member.email }}</span>
        </div>
        <div class="flex gap-2">
            <span>Phone: </span>
            <span>{{ member.phone }}</span>
        </div>
    </section>
</Modal>