<section class="flex mb-6 gap-4 motion-preset-slide-up-lg justify-between flex-col">
    <div class="flex gap-2 flex-wrap sm:flex-nowrap" >
        <UiButton className="w-full sm:w-48">Voltar</UiButton>
        <div class="flex flex-col gap-2">
            <h1 class="text-primary-accent font-semibold md:text-4xl text-2xl"> Membros - Listar </h1>
        </div>
    </div>

    <div class="w-full flex sm:justify-end justify-center">
        <UiButton className="sm:w-48 w-80" (click)="createMember()">Novo Membro</UiButton>
    </div>
</section>

<form class="w-full bg-white shadow-md my-6 py-4 px-4 motion-preset-slide-up-lg flex flex-col gap-4" [formGroup]="form">
    <div class="flex flex-wrap flex-row gap-2 items-end">
        <InputWrapper className="flex-1" label="Telefone">
                <UiInput controlName="phone" formControlName="phone" />
        </InputWrapper>

        <InputWrapper className="flex-1" label="E-mail">
            <UiInput controlName="email" formControlName="email"/>
        </InputWrapper>
        
    </div>

    <div class="flex flex-row gap-2 items-end sm:justify-end flex-wrap justify-center">
        <UiButton (click)="clearForm()" className="sm:min-w-48 bg-secondary-accent min-w-80" [disabled]="isSearchingForMembers || form.invalid">Limpar</UiButton>
        <UiButton type="submit" (click)="searchForMembers()" className="sm:min-w-48 min-w-80" [loading]="isSearchingForMembers" [disabled]="isSearchingForMembers || form.invalid">Pesquisar</UiButton>
    </div>
</form>

<section class="w-full flex justify-center h-20">
    <UiTable [tableDefinition]="tableDefinition" [headerRef]="headerTemplate" [bodyRef]="bodyTemplate">
        <ng-template #headerTemplate let-headers="headers">
            <TableHeader [headers]="headers" [headerCell]="HeaderCellTemplate">
                
                <ng-template #HeaderCellTemplate let-cell="cell">
                    <TableCell className="text-slate-900 font-semibold" [cellRef]="HeaderCellItemTemplate" [cell]="cell">


                        <ng-template #HeaderCellItemTemplate let-cell="cell">
                            <span>{{ cell.label }}</span>
                        </ng-template>
    

                    </TableCell>
                </ng-template>
    

            </TableHeader>
       </ng-template>

       <ng-template #bodyTemplate let-rows="rows">
            <TableBody [rowRef]="rowTemplate" [rows]="rows">
                <ng-template #rowTemplate let-row="row">
                    <TableRow>
                        <TableCell [cellRef]="defaultCellTemplate" [cell]="row.name"></TableCell>
                        <TableCell [cellRef]="defaultCellTemplate" [cell]="row.email"></TableCell>
                        <TableCell [cellRef]="defaultCellTemplate" [cell]="row.phone"></TableCell>
                        <TableCell [cellRef]="actionsCellTemplate" [cell]="row"></TableCell>


                        <ng-template #defaultCellTemplate let-cell="cell">
                            <span>{{ cell }}</span>
                        </ng-template>

                        <ng-template #actionsCellTemplate let-cell>
                            <div class="flex gap-2">
                                <UiButton (click)="viewMember(row)" className="min-w-24">Visualizar</UiButton>
                                <UiButton (click)="editMember(row)" className="min-w-24">Editar</UiButton>

                            </div>
                        </ng-template>
                    </TableRow>
                </ng-template>
            </TableBody>
       </ng-template>

    </UiTable>

    
</section>
